button{
  background-color: rgb(180, 180, 180);
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  margin: 10px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.abfrage{
  display: none;
}
#deutsch_latein{
  color: white;
}
#latein_deutsch{
  color: white;
}