button{
  background-color: rgb(180, 180, 180);
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  margin: 10px;
  /*border-color: rgb(0, 148, 59);
  border-style: double;
  border-width: 5px;*/
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.abfrage{
  display: none;
}
#deutsch_latein{
  color: white;
}
#latein_deutsch{
  color: white;
}
.fabeln{
  display: none;
}
.andere{
  display: none;
}
.kategorie{
  background-color: rgb(14, 139, 153);
}
.richtung{
  /*background-color: rgb(185, 79, 227);*/
  background-color: rgb(203, 147, 225);
}
#button_start{
  /*background-color: rgb(82, 82, 193);*/
  background-color: rgb(147, 147, 197);
}